body {
    background: #eaf4ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a5dc9;
}
